<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="static/css/main.css">
<h1>Главная страница</h1>
</head>


<body>
    <p>
   <a href="/wood" class="wood"><Img src="images/fon1.png" alt="Древесина" Width="200" Height="150"></a>
   <a href="/dsp"><img src="images/dsp.jpg" alt="ДСП"></a>
   <a href="/dvp"><img src="images/dvp.jpg" alt="ДВП"></a>
  </p>
 </body>
<ul>
  <li>
      <a href = '/page_parser' style="color: #FFFACD" > Страница с парсером </a>
  </li>
  <li>
      <a href = '/my_info' style="color: #FFFACD"> Информация о себе </a>
  </li>

</ul>
</html>



