<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="static/css/main.css">
<h1>Главная страница</h1>
</head>

<!--D:/repo/repo/lessons/lesson_17/static/css/images/-->
<body>
    <ul id="nav">
        <li>
           <a href = '/'> Главная страница </a>
        </li>
        <li>
           <a href = '/page_parser'> Страница с парсером </a>
        </li>
        <li>
           <a href = '/my_info'> Информация о себе </a>
        </li>
    </ul>
    <ul id =header><li><i>Древесина</i></li></ul>
<!--    <div class ="header"><h2>Древесина</h2></div>-->
    <p class="main_text"><i>Древесина является одной из составных частей сосудисто-волокнистого пучка
       и противопоставляется обыкновенно другой составной части пучка, происходящей из того же прикамбия или камбия — лубу, или флоэме. При образовании
       сосудисто-волокнистых пучков из прокамбия наблюдаются 2 случая: либо все прокамбиальные клетки превращаются
       в элементы древесины и луба — получаются так называемые замкнутые пучки (высшие споровые, однодольные и
       некоторые двудольные растения), либо же на границе между древесиной и лубом остаётся слой деятельной
       ткани — камбий и получаются пучки открытые (двудольные и голосеменные).</i>
    </p>
     <p class="main_text1"><i>В первом случае количество древесины остаётся постоянным, и растение неспособно утолщаться; во втором
       благодаря деятельности камбия с каждым годом количество древесины прибывает, и ствол растения мало-помалу
       утолщается. У российских древесных пород древесина лежит ближе к центру (оси) дерева, а луб — ближе
       к окружности (периферии). У некоторых других растений наблюдается иное взаимное расположение древесины
       и луба (см. Сосудисто-волокнистые пучки). В состав древесины входят уже отмершие клеточные элементы
       с одеревеневшими, в основном толстыми оболочками; луб же составлен, наоборот, из элементов живых, с живой
         протоплазмой, клеточным соком и тонкой неодеревеневшей оболочкой.</i> </p>

<!--    <p id="images">-->
<!--        <a href="/wood" class="wood"><img src="static/css/images/wood.jpg" alt="Древесина"></a>-->
<!--        <a href="/dsp" class="dsp"><img src="static/css/images/dsp.jpg" alt="ДСП"></a>-->
<!--        <a href="/dvp" class="dvp"><img src="static/css/images/dvp.jpg" alt="ДВП"></a>-->
<!--    </p>-->
 </body>

</html>



