<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница с парсером</title>
    <link rel="stylesheet" href="static/css/page_parser.css">
    <link rel="stylesheet" href="static/css/font-awesome.css">
</head>
<h1>Страница с парсером</h1>
<body>
<ul>
  <li>
      <a href = '/' style="color: #FFFACD"> Главная страница </a>
  </li>

</ul>
<div class="container">
    <img src="static/css/images/men.jpg">
    <form>
        <div class="dws-input">
            <input type="text" name = 'City' placeholder="Введите название города">
        </div>


        <div class="dws-input">
            <input type="text" name = 'Position' placeholder="Введите название должности">
        </div>
        <div class="dws-input">
            <input type="text" name = 'Wages' placeholder="Введите размер заработной платы">
        </div>
            <input class="dws-submit" type="submit" name = 'submit' value="Найти">
    </form>
    <div class="social">
        <i class="fa fa-vk" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
    </div>
</div>
</body>
</html>