table.menu	{
	position: absolute;
        z-index: 5;
	border: 0px solid black;
	cursor: pointer;
	cursor: hand;
	visibility: hidden;
}
#mainmenu	{
	position: static;
}
table.menu td	{
	color: #FFFFFF;            /* Must be the same as tdColor in the menu_script.js */
	background-color: #993366; /* Must be the same as tdBgColor in the menu_script.js */
	border: 0px;
	padding: 0px 8px 2px;
	font-family: Arial;
	font-size: 8pt;
	white-space: nowrap;
}
