.fon {color: black; background: white /*rgb(230,230,230)*/; font-family: "Courier New" ; font-size: 15px;}
.comm {color: #DE0000; font-style: bold;}
.comm1 {color: blue; font-style: italic;}
.sl_sl { color: #FF7F50; /*font-weight: bold;*/}
.pech { color: #00A700; /*font-weight: bold;*/}
.vyvod { color: #0000FF; /*font-weight: bold;*/}
.tp {color: #920091; /*font-weight: bold;*/}
:LINK {color: blueviolet;}
TH {background: rgb(180,180,180); font-size: 12 px;}
TD {background: rgb(230,230,230); font-size: 12 px;}
TABLE {color: black; font-size: 12 px;}
H2   {
      color: black;
      text-align: center;
      font-size: 15px;  
}   
BODY {font-size: 12px; 
      color: blue; 
      font-family: "Times New Roman"; 
      text-align: justify;
      background: rgb(219,248,254) url('../images/Backg8.gif');
}
#mnu
     {
       position: absolute;
       left: 2px;
       top: 85px;
       z-index: 5;
       background-color: #993366;
       width: 765px;
       align: center;
       height: 32px; 
      visibility: hidden;
}
#animate {
/*      position: absolute;
      left: 705px;
      top: 2px;
      width: 55px; 
      height: 70px;
      background: rgb(219,248,254) url('../images/animat.gif');
      visibility: hidden;*/
}
#zag {
      position: absolute;
      left: 2px;
      top: 2px;
      width: 765px; 
      height: 80px;
      background: rgb(219,248,254) url('../images/111.jpg.jpeg');
      border-style: ridge;
      border-width: 1px;
      visibility: hidden;
}

#top {
      position: absolute;
      left: 2px;
      top: 118px;
      width: 765px; 
      height: 70px;
      background: blue;
      border-style: ridge;
      border-width: 1px;
      color: yellow;
      text-align: right;
      font-weight: bold;
      font-size: 20px; 
      padding-left:5px;
      padding-right:5px;
      visibility: hidden;
}
#bottom {
      position: absolute;
      left: 2px;
      top: 190px;
      width: 765px;
      background: rgb(219,248,254) url('../images/12.jpg.jpeg');
      border-style: ridge;
      border-width: 1px;
      font-size: 15px;
      color: blue;
      font-family: "Times New Roman"; 
      text-align: justify;
      padding-left:5px;
      padding-right:5px;
      visibility: hidden;
        }
#bottom1 {
      position: absolute;
      left: 2px;
      top: 20px;
      width: 765px;
      background: rgb(219,248,254) url('../images/12.jpg.jpeg');
      border-style: ridge;
      border-width: 1px;
      font-size: 15px;
      color: blue; 
      font-family: "Times New Roman"; 
      text-align: justify;
      padding-left:5px;
      padding-right:5px;
        }
