<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mini Blog</title>
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-width, initial-scale=1, shrlink-to-fit=no">

  <link  href="htpps://fonts.gogleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">
{% load static %}
  <link rel="stylesheet" href="{% static "articles/style.css" %}">
  <link rel="stylesheet" href="{% static "articles/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "articles/magnific-popup.css" %}">
  <link rel="stylesheet" href="{% static "articles/jquery-ui.css" %}">
  <link rel="stylesheet" href="{% static "articles/owl.carousel.min.css" %}">
  <link rel="stylesheet" href="{% static "articles/owl.theme.default.min.css" %}">
  <link rel="stylesheet" href="{% static "articles/bootstrap-datepicker.css"articles/>
  <link rel="stylesheet" href="{% static "articles/laticon.css"articles/>
  <link rel="stylesheet" href="{% static "articles/aos.css"%}">
  <link rel="stylesheet" href="{% static "articles/style.css"%}">
</head>
<body>

<div class="site-wrap">

  <div class="site-mobile-menu">
     <div class="sit-mobile-menu-header">
       <div class="sit-mobile-menu-close mt-3">


</body>
</html>